/* Nav */
.sidebar .nav {
    margin-top: 0px;
}
.sidebar .nav .nav-section .text-section {
    padding: 0px 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.sidebar .nav-collapse {
    margin-top: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.page-inner {
    padding: 4px 20px 0 20px !important;
}

.main-panel .page-header {
    margin-bottom: 2px;
}

.page-title {
    font-size: 15px;
}

.divider12 {
    max-width: 100%;
    height: 1px;
    background: #ff0077;
    margin-bottom: 10px;
    opacity: 0.3;
}

.btn-link {
    padding: 0 10px;
}


/* Active Start */
.nav{
    line-height: 10px;
}

.info .nav>li>a {
    padding-left: 10px !important;
}

.activeSub {
    background: #4D7CFE !important;
    color: #ffffff !important;
    font-weight: bold !important;
}

.activeSub a span{
    color: #ffffff !important;
    /* padding-left: 20px !important; */
}

.activeSub a .sub-item{
    color: #ffffff !important;
    opacity: 1 !important;
}

.activeSub .sub-item:before {
    background: rgba(255, 255, 255, 0.89) !important;
}
/* Active End */

.sub-item {
    font-weight: 600 !important;
}

.card .card-header {
    padding: 5px 25px !important;
}

.form-group-default {
    padding-top: 0px;
}

.card .card-action {
    padding: 10px 0 0 0;
}

.form-check label, .form-group label {
    color: #495057;
    font-weight: 600 !important;
    font-size: 14px !important;
}

.breadcrumbs {
    border-left: none !important;
    margin-left: 15px !important;
    padding-left: 0 !important;
}

.breadcrumbs a:hover {
    font-weight: 600;
    color: #4D7CFE;
}

/* Text Color */
.t_r {
    color:red;
    font-weight: 900;
}

/* Data table  */
.thw tr th, .thw tr td {
    color: #ffffff;
}
/* .table td, .table th {
    padding: 5px 5px !important;
} */

.table td, .table th {
    font-size: 14px;
    border-top-width: 0;
    border-bottom: 1px solid;
    border-color: #ebedf2!important;
    padding: 0 5px!important;
    height: 28px;
    vertical-align: middle!important;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc_disabled:after, table.dataTable thead .sorting_desc_disabled:before {
    bottom: 6px;
}

.no-sort::after {
    display: none !important;
}

.no-sort::before {
    display: none !important;
}

.no-sort {
    pointer-events: none !important;
    cursor: default !important;
}

select.form-control-sm:not([size]):not([multiple]), .input-group-sm>select.form-control:not([size]):not([multiple]), .input-group-sm>.input-group-prepend>select.input-group-text:not([size]):not([multiple]), .input-group-sm>.input-group-append>select.input-group-text:not([size]):not([multiple]), .input-group-sm>.input-group-prepend>select.btn:not([size]):not([multiple]), .input-group-sm>.input-group-append>select.btn:not([size]):not([multiple]) {
    height: calc(27px + 1px);
}

.ck-editor__editable
{
    min-height: 200px !important;
    max-height: 400px !important;
}
